* {
  font-family: sans-serif;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url('images/Village_Background.jpg');
  background-size: cover;
  border: 2px solid black;
}

#screen-play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex;
}

#screen-start {
  background-image: url('images/Village_Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
}

#screen-game-over {
  background-image: url('images/Village_Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
}

#gameOverPic {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

#trigger-play-again {
  font-size: 1rem;
  font-weight: 600;
  width: 100px;
  height: 50px;
  border-radius: 13px;
  margin: 20px;
}

h1,
h2 {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

#trigger-play {
  font-size: 1.5rem;
  width: 100px;
  height: 50px;
  border-radius: 13px;
  margin: 50px;
}

